pandas
Jinja2
pyyaml
curlify
matplotlib
setuptools
pytablewriter
robotframework-faker
robotframework-requests
robotframework-jsonlibrary
robotframework-appiumlibrary
robotframework-seleniumlibrary
robotframework-screencaplibrary
robotframework-databaselibrary